body {
    font-family: 'Inter', sans-serif;
    cursor: auto;
}

.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.message-box.show {
    opacity: 1;
    visibility: visible;
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    background-opacity: 0.8;
    backdrop-blur: sm;
    box-shadow: md;
    border-radius: lg;
    margin: 4px;
    padding: 4px;
}

main {
    margin: auto;
    padding: 4rem 8px;
    display: flex;
    flex-direction: column;
    flex-grow:
